#modal_main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: start;
  }
  
  #modal {
    position: relative;
    top: 20px;
    right: 350px;
    background: #fff;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    position: relative;
  }
  
  #close_button {
    position: absolute;
    top: 20px;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
  
  }
  
  #modal_input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  #modal_button {
    margin-top: 15px;
    background-color: rgb(26, 26, 210);
    padding: 5px;
    color: white;
    border-radius: 5px;
  }
  #modal_button:hover{
    cursor: pointer;
  }
  
  .modal_button_reset {
    margin-left: 10px;
    background-color: rgb(22, 21, 21);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
  }
  .modal_button_reset:hover{
cursor: pointer;

  }
  .add_user{
    padding-bottom: 10px;
  }
  
  .add_user h2{
    letter-spacing: 2px;
    color: gray;
    display: flex;
    justify-content: start;
    padding:0px 0px 20px 10px;
    border-bottom: 2px solid rgb(108, 103, 103);
  }
  .add_user_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  
  }
  .add_user input{
    width: 100%;
    padding: 5px 20px;
    border-radius: 3px;
    border: 2px solid gray;
  }
  .add_user_form_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .add_user_form_data label{
    display: flex;
    justify-content: start;
  }
  .view_flex{
    padding: 0;
    margin: 0;
    display: flex;
  }
  .view_flex h5{
    margin: 5px;
    flex-basis: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .view_flex p{
    margin: 0;
    flex-basis: 70%;
    display: flex;
    align-items: center;
    position: relative;
    left: 20px;
  }
  #view_head{
    border-bottom: 2px solid gray;
    letter-spacing: 2px;
    color: gray;
    display: flex;
    justify-content: start;
  }
  #entire_view{
  background-color: rgba(58, 149, 180, 0.418);
  padding: 10px;
  }
  #view_data{
    margin-top: 5px;
    border: 2px solid rgb(71, 60, 60);
    border-radius: 10px;
    background-color: aliceblue;
    padding: 10px;
  }
  .error {
    color: red;
    font-size: 10px;
    margin-top: 2px;
    display: flex;
    justify-content: start;
  }
  